.container {
  width: 800px;
  margin: 0 auto;
  
}

.posts_list {
  width: 100%;
  border-collapse: collapse;
}

thead {
  background-color: #eeeeee;
}

th,
td {
  padding: 10px;
  border: 1px solid #dddddd;
}

.title {
  font-size: 18px;
}



.card {
  width: 750px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin: auto;
}

.input-container-title {
  margin-bottom: 10px;
}

.input-container-content {
  height: 80%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;

}



.boardwrap {
  width: 800px;
  margin: 0 auto;}

  .detailtitle {
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    margin-left: 15px;
  }

  .nickname {
    display: flex;
    font-size: 12px;
    margin-top: 5px;
    margin-left: 10px;
    color: #959595;
    font-weight: 700;
  }

  .date {
    display: flex;
    font-size: 12px;
    margin-left : 15px;
  }



.boardcontent {
  height: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px;
  margin-top: 10px;
  border-bottom: 1px solid black;
  letter-spacing: 2px;


}